# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.development
.env.test
.env.production
.env.loadtest

# IDE
.idea/
.vscode/

# Logs
*.log
!loadtest/datasets/samples/**/*.log

# Coverage
coverage/

# OS
.DS_Store
